<!-- boucle for-->
{% for label, messages in app.flashes %}
	{% for message in messages %}
		<!-- label : in order to choose the color-->
		<div class="alert alert-{{ label }} alert-dismissible" role="alert">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			<div
				class="alert-message">
				<!--interpretation with raw-->
				{{ message|raw }}
			</div>
		</div>
	{% endfor %}
{% endfor %}
