{% extends "base.html.twig" %}


{% block title %}liste de produits
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Liste des campagnes Marketing</h1>
			</div>

			<table>
				<tr>
					<td>id</td>
					<td>Campagne</td>
					<td>Description</td>
					<td>Prix/Jour</td>

				</tr>
				{% for product in allProducts %}
					<tr>
						<td>{{ product.id }}</td>
						<td>{{ product.name }}</td>
						<td>{{ product.description }}</td>
						<td>{{ product.price }}</td>
					</tr>
				{% endfor %}
			</table>

		</section>
	</main>
{% endblock %}
