{% extends "base.html.twig" %}

{% block title %}liste de campanes
{% endblock %}

{% block body %}
	<div class=" container mt-20">
		<section class="row">
			<div class="col-12">
				<h1>Liste des campagnes Marketing</h1>
			</div>
			<div class="col-12"></div>


			<div class="table-responsive">
				<table class="table table-striped table-hover table-bordered table-sm ">
					<thead>
						<tr>
							<td>id</td>
							<td>Campagne</td>
							<td>Description</td>
							<td>Prix/Jour</td>
						</tr>
					</thead>
					{% for campaign in allCampaigns %}
						<tr>
							<td>{{ campaign.id }}</td>
							<td>{{ campaign.name }}</td>
							<td>{{ campaign.description }}</td>
							<td>{{ campaign.price }}</td>
						</tr>
					{% endfor %}
				</table>
				<caption>
					Table de campagnes
				</caption>
			</div>
		</section>
	</div>
{% endblock %}
