{% extends 'base.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
	<div class="container">

		<div class="row py-lg-5">
			{% include "_partials/_administration.html.twig" %}
			<main>
				<h1></h1>
			</main>
		</div>
	</div>
{% endblock %}
